.header {
    text-align: right;
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;


}

.header-tittle {
    /* width: 525px; */
    color: var(--Dark-01, #151414);
    text-align: right;
    font-family: Work Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 240px;
    padding-top: 180px;
    margin-bottom: 24px;
}

.header-tittle-description {
    width: 494px;
    height: 78px;

    color: var(--Dark-02, #444343);
    /* text-align: right; */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding-left: 1160px;


}

.btn-primary {
    border-radius: 5px;
    background: #F15B22;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    margin-right: 250px;
    margin-top: 24px;
}

/* 2nd-section-start */
.second-section-img {
    width: 500.929px;
    height: 500.929px;
    border-radius: 500.929px;
    background: rgba(241, 91, 34, 0.20);
    margin-left: 300px;
}



.second-section {
    display: flex;
    gap: 250px;
    margin-top: 200px;
    padding-left: 30px;
    padding-right: 40px;
}


.second-section-tittle {
    color: var(--Dark-01, #151414);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 288px;
}

.second-section-description {
    width: 416px;
    color: var(--Dark-02, #444343);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.mistake {
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    list-style: none;
    
}
li::before{
    content:'✅';
}