.header {
    text-align: right;
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;



}

.header-tittle {
    /* width: 525px; */
    color: var(--Dark-01, #151414);
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 235px;
    padding-top: 180px;
    margin-bottom: 20px;
}

.header-tittle-description {
    width: 494px;
    height: 78px;

    color: var(--Dark-02, #444343);
    /* text-align: right; */
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding-left: 1280px;


}

.btn-primary {
    border-radius: 5px;
    background: #F15B22;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    margin-right: 238px;
    margin-top: 24px;
    margin-bottom: 100px;
    color: #FFF;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 2nd-section-start */
.second-section-img {
    width: 500.929px;
    height: 500.929px;
    border-radius: 500.929px;
    background: rgba(241, 91, 34, 0.20);
    margin-left: 300px;
}



.second-section {
    display: flex;
    gap: 250px;
    margin-top: 200px;
    padding-left: 30px;
    padding-right: 40px;
}


.second-section-tittle {
    color: var(--Dark-01, #151414);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 288px;
}

.second-section-description {
    width: 416px;
    color: var(--Dark-02, #444343);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.mistake {
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    list-style: none;

}

li::before {
    content: '✅';
}

/* my-plans-styles */

.my-plans-container {
    display: flex;
    gap: 100px;
    padding-left: 400px;
    margin-top: 80px;
}

.tittle {
    text-align: center;
    margin-top: 200px;
    color: var(--Dark-01, #151414);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.my-plans-tittle {
    color: var(--Dark-01, #151414);

    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.my-plans-description {
    color: var(--Dark-03, #737272);

    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* third section */
.container {
    width: 1140px;
    height: 300px;
    margin-left: 350px;
    margin-top: 200px;
    position: relative;

}

.gradient-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;


}

.gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);

    position: absolute;
}

/* footer styles */

.footer {
    padding-top: 130px;
    padding-left: 230px;
    display: flex;
    gap: 400px;
    width: cover;
    height: 577px;
    flex-shrink: 0;
    background: var(--Dark-01, #151414);
    margin-top: 200px;
}

.footer-tittle {

    color: #F8F8F8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.footer-tittle-description {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    width: 485px;
    height: 80px;
    margin-bottom: 50px;
    /* 162.5% */
}

.footer-tittle-description-under {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.subscribe {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.under-subscribe {
    width: 340px;
    height: 64px;

    background: var(--Dark-01, #151414);
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: #FFF;
}

.subscribe-button {
    width: 170.106px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;

}